body{
    background-color: #a5d6a7;
}
.contenedor{
    background-color: #f7f7fc;
    width: 310px;
    height: 360px;
    font-family: muli;
    text-align: center;
    border-radius: 1em;
    margin-left: 500px;
    margin-top: 120px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
}
.verdura{
    margin-bottom: 20px;
    background-color: white;
    width: 60%;
    margin-left: 20%;
    border-radius: 2em;
    height: 30px;
    padding-top: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: #ebebf2;
}
.verduleria{
    color: #242e73;
    padding-top: 10px;
    font-size: 13px;
}
.hola{
    color: #7d7cad;
}